.hero-section-container {
  width: 80%;
  height: auto;

  // TODO: trye to remove the padding
  padding-top: 50px;
  padding-bottom: 50px;

  .hero-section-wrapper {
    display: flex;

    .greeting-wrapper {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .heading {
        font-size: 1.8em;
      }

      .description {
        font-size: 1.8em;
        font-weight: 500;
        color: #b4b7bd;
      }

      .link {
        color: #3676f4;
      }
    }

    .feature-image-section {}
  }
}

//}//}//}//}
