.page-container {
  height: 100vh;
  width: 100vw;

  position: relative;

  .search-container {
    width: auto;
    height: auto;

    position: absolute;
    top: 20px;
    left: 20px;

    z-index: 1;

    .search-wrapper {
      width: 230px;
      height: 50px;

      display: flex;
      justify-content: center;
      align-items: center;

      padding: 10px 30px;

      border: 1.5px solid #EFEFF1;
      border-radius: 15px;

      .search-label {
        font-size: 15px;
        color: #888888;
      }
    }
  }

  .menubar-container {
    width: 100%;
    height: auto;

    position: absolute;

    z-index: 1;

    display: flex;
    flex-direction: column;
    gap: 20px;

    padding-top: 20px;

    .menubar-options {
      width: 100%;
      height: 30px;

      display: flex;
      align-items: center;

      font-size: 16px;
      color: #505050;
      font-weight: 600;

      cursor: pointer;
    }
  }

  .algorith-view-container {
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 30px;

    position: absolute;

    z-index: 2;

    transition: transform 0.5s ease-in-out, scale 0.5s ease-in-out, border-radius 0.5s ease-in-out;

    &.minimize {
      scale: 0.8;
      border-radius: 20px;
      transform: translateX(250px) translateY(-180px);
    }

    .algorith-view-wrapper {
      height: 100%;
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      background-color: #F6F8FA;
      border: 1.5px solid #EFEFF1;
      transition: transform 0.5s ease-in-out, scale 0.5s ease-in-out, border-radius 0.5s ease-in-out;

      &.minimize {
        /* scale: 0.8; */
        border-radius: 20px;
        /* transform: translateX(250px) translateY(-180px); */
      }
    }
  }
}

.toggle-menu-btn {
  height: 50px;
  width: 50px;

  border: 1.5px solid #EFEFF1;
  background-color: white;
  border-radius: 15px;

  position: absolute;
  top: 20px;
  left: 20px;

  z-index: 3;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.5s ease-in-out;

  &.moverRight {
    transform: translateX(250px);
  }
}
