.sorting-visualizer-container {
  height: 100vh;
  width: 80vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 50px;

  .sorting-visualizer-wrapper {
    height: 80%;
    width: 100%;

    border: 1.5px solid #EFEFF1;
    background-color: white;
    border-radius: 30px;

    position: relative;
    z-index: 1;

    .options-tray-toggle {
      height: 50px;
      width: 50px;

      border: 1.5px solid #EFEFF1;
      background-color: white;
      border-radius: 15px;

      position: absolute;
      top: 20px;
      right: 20px;

      z-index: 2;

      display: flex;
      justify-content: center;
      align-items: center;

      transition: height 0.3s ease-in-out, width 0.3s ease-in-out;

      &.open-tray {
        height: calc(100% - 40px);
        width: 40%;

        border-radius: 20px;
      }

      .btn-wrapper {
        display: block;

        display: flex;
        justify-content: center;
        align-items: center;

        &.disolve {
          display: none;
        }
      }

    }
  }
}

.option-tray-wrapper {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding-top: 20px;
  padding-bottom: 20px;

  .conditions-wrapper {
    width: 90%;
    height: 90%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;

    .option-wrapper {
      width: calc(50% - 10px);
      height: calc(50% - 10px);

      background-color: #F6F8FA;
      border-radius: 15px;

      .option-preview {
        height: 80%;
        width: 100%;
        background-color: white;

        border: 1.5px solid #EFEFF1;
        border-radius: 15px;
      }

      .option-heading {
        width: 100%;
        height: 20%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        color: #505050;
      }

    }
  }

}

.options-heading {
  width: 90%;
  font-size: 14px;
  text-align: left;
  color: #888888;

  /* margin-top: 0px; */
  /* margin-bottom: 10px; */
}

.divider {
  width: calc(100%);
  height: 2px;

  background-color: #EFEFF1;
}

.problem-size-wrapper {
  width: 90%;
  height: calc(10% + 10px);

  background-color: #f6f8fa;
  border-radius: 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: relative;
  overflow: hidden;

  .count {
    height: 100%;
    width: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    cursor: pointer;
    user-select: none;
  }

  .highlight {
    height: 100%;
    width: 20%;

    background-color: white;
    border: 1.5px solid #efeff1;

    position: absolute;
    top: 0;
    left: 0;

    border-radius: 15px;
    z-index: 2;
    transition: transform 0.3s ease-in-out;
  }
}

.buttons-wrapper {
  width: 60%;
  height: 50px;

  display: flex;
  flex-direction: row;
  gap: 20px;

  margin-top: 10px;

  .paus-and-play-btn,
  .shuffle-btn,
  .reset-btn {
    width: fit-content;
    height: fit-content;

    padding: 15px 25px 15px 25px;
    border-radius: 100px;

    background-color: white;
    border: 1.5px solid #efeff1;

    cursor: pointer;

    .btn-wrapper-play,
    .btn-wrapper-shuffle,
    .btn-wrapper-reset {
      width: fit-content;
      height: fit-content;

      display: flex;
      justify-items: center;
      align-items: center;

      .btn-icon {}

      .btn-label {}
    }
  }

  .delay-btn-wrapper {
    width: 70%;
    height: 50px;

    background-color: white;
    border: 1.5px solid #efeff1;
    border-radius: 100px;

    .delay-btn-slidder {}

    .delay-btn-label {}
  }
}

.sorting-preview-container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .sorting-preview-wrapper {
    width: 93%;
    height: 90%;

    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;

    .sorting-strip {
      width: 20px;
      border-radius: 5px;
      background-color: #D9D9D9;

      /* &.sorted { */
      /*   background-color: black; */
      /* } */

    }
  }
}

/* .sorting-visualizer-container { */
/*   display: flex; */
/*   flex-direction: column; */
/*   align-items: center; */
/*   padding: 20px; */
/* } */

/* .sorting-preview-container { */
/*   width: 100%; */
/*   display: flex; */
/*   justify-content: center; */
/*   align-items: flex-end; */
/* } */

.buttons-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
