.sorting-container {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  .sorting-wrapper {
    width: 80%;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 10px;

    .strip {
      background-color: grey;
      width: 20px;
      border-radius: 10px;
    }
  }
}
