.bt-wrapper {
  width: 80%;
  height: auto;

  border-radius: 30px;
  border: 1.5px solid #e9ebef;
  // background-color: white;

  margin-bottom: 35px;

  display: flex;
  align-items: center;
  justify-content: center;
}
